.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.header h1 {
  margin-right: auto;
  font-size: 2rem;
}

.header nav a {
  padding: 1rem;
  font-size: 1rem;
}